{% extends 'base.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
     <link rel="stylesheet" href="{% static 'css/todo.css' %}" type="text/css">
     <meta charset="UTF-8">
     <title></title>
  </head>
<body>
    <div>
       {% if request.user.is_authenticated %}
           <li><a href="#">{{ request.user.get_full_name }}</a></li>
           <li><a href="{% url 'app:create' %}">Tapşırıq yarat</a></li>



       {% else %}
           <a href="{% url 'users:register' %}">Qeydiyyatdan kec</a> </li>
           <a href="{% url 'users:user_login' %}">Log in</a> </li>
       {% endif %}
    </div>
    <div>
       {% for list in list %}
           <h3><a href="{% url 'app:detail' list.pk %}">Tapşırığın adı:    {{ list.name }},</a>
           <small>Bitmə tarixi:    {{ list.end_time }}</small>
           </h3>
           <p>Açıqlama:     <br>{{ list.description }}</p>
           <hr>
       {% endfor %}

       {% for post in post  %}

           {% if request.user in post.other_user.all %}
               {% if request.user != post.user %}
                    <h2><a href="{% url 'app:detail' post.pk %}">Tapşırığın adı:    {{ post.name }},</a>
                    <small>Bitmə tarixi:    {{ post.end_time }}</small>
                    </h2>
                     <p>Açıqlama:    <br>{{ post.description}}</p>
                    <hr>
               {% endif %}
           {% endif %}
       {% endfor %}

    </div>
{% endblock %}

</body>
</html>